@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.header-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #051937, #0a4066, #006c96, #009cc3);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
}